div(class="admin-aside")
  h3 Nexters
  div(class="admin-aside-item") 메인사진 관리
  div(class="admin-aside-item") 리쿠르팅 관리
  div(class="admin-aside-item") 프로덕트 관리
  div(class="admin-aside-copyright") Copyright © 2018 Minho Cheon.