section(class="bg-primary" id="about")
  div(class="container")
    div(class="row")
      div(class="col-lg-8 mx-auto text-center")
        h2(class="section-heading text-white") ABOUT
        hr(class="light my-4")
        p(class="text-faded mb-4")
          | 연합동아리 넥스터즈는 IT 생태계의 주인공인 개발자와 디자이너들을 위한 모임입니다.
          | 재능있는 디자이너와 개발자들이 함께 모여 자유로운 분위기에서 어울리고 도움을 주고받으며 협업을 통해 원하는 애플리케이션을 만드는 모임입니다. <br /><br />
          | 수도권 인근 대학생들과 직장인들이 활동하고 있습니다. 대학생은 실무에서의 경험과 노하우를 배우며 진로를 세부적으로 검증할 수 있고, 실무자는 제한이 적은 자유로운 활동을 통해 창의력을 키워나갈 수 있는 기회가 될 것입니다.
