section(id="description")
  div(class="container")
    div(class="row")
      div(class="col-lg-12 text-center")
        h2(class="section-heading") Description
        hr(class="my-4")
  div(class="container")
    div(class="row")
      div(class="col-lg-4 col-md-6 text-center")
        div(class="service-box mt-5 mx-auto")
          i(class="fa fa-4x fa-rocket text-primary mb-3 sr-icons")
          h3(class="mb-3") Vision
          p(class="text-muted mb-0") NEXTERS는 재능공유와 친목도모를 통해 실력을 향상시키고, 프로젝트 진행을 통한 협업 능력을 배양하며, 새로운 애플리케이션을 만드는 경험으로 IT 생태계의 인재가 되는 것을 목표로 합니다.
      div(class="col-lg-4 col-md-6 text-center")
        div(class="service-box mt-5 mx-auto")
          i(class="fa fa-4x fa-users text-primary mb-3 sr-icons")
          h3(class="mb-3") Activity
          p(class="text-muted mb-0") 정기활동 기간은 여름방학과 겨울방학이며, 매주 토요일 세션을 진행합니다. 원하는 팀에 소속되어 프로젝트를 완성 시키는 것을 목표로 합니다. 비활동 기간에는 본업에 집중하기 위해 자율적으로 프로젝트 ‧ 공모전 ‧ 스터디를 진행 합니다.
      div(class="col-lg-4 col-md-6 text-center")
        div(class="service-box mt-5 mx-auto")
          i(class="fa fa-4x fa-diamond text-primary mb-3 sr-icons")
          h3(class="mb-3") Merit
          p(class="text-muted mb-0") 개발자와 디자이너가 모여 새로운 창작물을 만들어 볼 수 있습니다. 타 직군을 이해하며 시야를 넓히고 다각화하는 소중한 경험이 될 것입니다.