section(class="p-0" id="product")
  div(class="container-fluid p-0")
    div(class="row no-gutters popup-gallery")
      div(class="col-lg-2 col-sm-6")
        a(class="portfolio-box",href="images/header.jpg")
          img(class="img-fluid", src="images/header.jpg", alt="")
          div(class="portfolio-box-caption")
            div(class="portfolio-box-caption-content")
              div(class="project-name") 테스트입니다.