<div class="wrapper" *ngIf="nexters$ | async as nexters">
  <h2>Nexters info management</h2>
  <div class="row image" *ngIf="nexters.id; else emptyNextersBlock">
    <div class="label">
      Thumbnail
    </div>
    <div class="preview">
      <img
        *ngIf="nexters.file?.id && nexters.file?.image else noImage"
        src="http://localhost:8080/api/files/{{nexters.file.fileId}}"
      />
      <ng-template #noImage>
        <span>등록된 이미지가 없습니다. 이미지를 등록해주세요.</span>
      </ng-template>
      <input
        type="file"
        accept="image/*"
        (change)="handleChangeImage($event)"
      />
    </div>
  </div>
  <div class="row button-group">
      <app-button
        class="button"
        btnType="primary"
        (click)="handleUploadImage(nexters.id)"
      >
        Upload
      </app-button>
      <app-button
        class="button"
        btnType="light"
      >
        Cancel
      </app-button>
  </div>
  <ng-template #emptyNextersBlock>
    <div>넥스터즈 그룹이 없습니다. 새롭게 만들어주세요.</div>
  </ng-template>
</div>
