div(class="admin-aside")
  h3 Nexters Admin
  a(class="admin-aside-item" href="/admin/nexters") Nexters
  a(class="admin-aside-item" href="/admin/recruit") Recruit
  a(class="admin-aside-item" href="/admin/products") Products
  a(class="admin-aside-copyright") Copyright © 2018 Minho Cheon.