<div class="container">
  <h2>Products Management</h2>
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td class="title">{{ product.title }}</td>
        <td class="description">{{ product.description }}</td>
        <td>
          <app-button>Edit</app-button>
        </td>
        <td>
          <app-button
            [btnType]="'danger'"
            (click)="handleClickDelete(product)"
          >
            Delete
          </app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="footer">
      <app-button [btnType]="'success'">Create</app-button>
  </div>
</div>

<app-delete-product
  *ngIf="showDeleteModal"
  [product]="selected"
  [onCancel]="handleCancelDelete"
>
</app-delete-product>
