.dim {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);

  .modal {
    width: 500px;
    border-radius: 3px;
    background-color: white;

    .title {
      padding: 15px;
      font-size: 20px;
      font-weight: 600;
      border-bottom: 1px solid #e9ecef;
    }

    .description {
      padding: 25px 15px;
      font-size: 15px;
      border-bottom: 1px solid #e9ecef;
    }

    .footer {
      padding: 15px;
      display: flex;

      .button {
        &:first-child {
          margin-left: auto;
          margin-right: 10px;
        }
      }
    }
  }
}